i nput {
    border: 1px solid #dadada;
    padding: .88%;
    width: 95%;
}

input::placeholder, dialog div {
    color: #555;
    font-weight: 600;
}

input, dialog {
    outline: none;
}

.xxx {
    border: 1px solid #dadada;
    width: 95%;
    padding: 1.1% 3.7%;
    margin: 3% 2.5%;
}

.p20, .px-5 {
    background-color: #f7f7f7;
}

